@import "vars";
@import "fonts";
@import "libs";

#main-doc {
  padding: 30px;

  & .main-section {
    & .section_title {
      font-size: 27px;
      font-weight: 600;
    }
  }
}

.p_code {
  background-color: #ddd;
  padding: 20px;
  border-radius: 5px;
  font-size: 12px;
}
